name: CI pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Usar Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Fix permissions for jest
        run: chmod +x node_modules/.bin/jest

      - name: Ejecutar pruebas
        run: npm test

      - name: Mensaje final
        run: echo "Deploy exitoso"

